
// COLORS*****************************

// Font S
$font-google             :'https://fonts.googleapis.com/css?family=Quicksand:300,400';
$font-family             :'Quicksand', sans-serif;
$font-size               :20px;
$font-color              :#7F7E7E;

// Descriptive color variables

$green-highlight : #28DCB8;
$blue-highlight  : #51DDFC;

// Button
///variabaless butoon


$green  :#63CC82;
$red    :#E4757A;
$orange :#FD7856;
$purple :#927BC1;

$buttons: (
    default: $blue-highlight,
    success: $green,
    error  : $red,
    warning: $orange,
    info   : $purple,
);

//Grid

$fade-green     : lighten($green-highlight, 10%);
$dark-blue      : darken($blue-highlight, 30%);
$fade-blue      : lighten($blue-highlight, 5%);
$fade-purple    : lighten($purple, 10%);
$fade-red       : lighten($red, 10%);
$fade-orange    : lighten($orange, 20%);
$fade-dark-green:ligthen($green, 10%);

//Media query
$break-l: 1024px;
$break-sm: 440px;
$break-medium: 768px;px;

//Base-----------------------------

body{
    font-family: $font-family;
}

p {
     line-height: 1.6;
     display: block;
}

ul{
  list-style-type: none;
}

.container{
   width: 85%;
   margin: 0 auto;
}

//typography
.headline {
  &--primary{
     padding-left: 30px;
     padding-bottom: 10px;
     color: $green-highlight;
     font-size:30px;

  }

   &--secondary {
     font-weight: 200;
     color:$font-color;
     padding-top: 30px;
     text-align: left;
  }
}

.link{
    text-decoration: none;
    color: $blue-highlight;
    font-weight: bold;
}

.blockquote {
  font-style: italic;
  font-size:20px;
  border-left: solid 10px $green-highlight;
  border-radius: 5px;
  padding-left: 25px;
  margin-bottom: 50px;
}

@mixin flexy($disp:flex,
     $dir:null,
     $just:null,
     $align:null){
 display: $disp ;
 flex-direction:$dir ;
 justify-content: $just;
 align-items:  $align ;

}

.nav__item a {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-around;
    text-decoration: none;
    padding: 5px ;
    border-radius:5px;
    width: 100%;
    padding-bottom: 10px;
    color: $font-color;
     &:hover {
       color: #fff;
       background:$green-highlight ;
     }

  }

//mixn imag
@mixin img {
  margin-left: auto;
  margin-right: auto;

}

//mixin padding width
@mixin width {
  padding: 10px;
  width: 100%;

}
//imag-------------------------------


.img{
    &--frame {
      @include width;
      border: solid 1px grey;
      @include img;
  }
    &--avatar {
      display:block;
      margin:20px;
       @include img;
    // padding-left: 30px;
  }
    &--logo {
      display: block;
       @include img;

   }
}

//form-------------------------------------
.form{
  text-align: center;

  &__input {
     width: 85%;
     font-weight: 700;
     padding: 10px;
     margin:5px;
     border: none;
     border-bottom: 6px solid $green-highlight;
     &:focus {
        outline: none;
     }
  }

  // &__input:focus {
  //    outline: none;
  // }

  &__label--hidden {
     display: none;
  }
}

// buton--------------------------------------


.theme {
  &__colors {
      @include width;
      margin:5px;
      border-radius: 5px;
      margin-top: 15px;
      &:focus {
         outline: none;
      }
  }
  //  &__colors:focus {
  //    outline: none;
  // }
}

//mising grid
@mixin color-grd ($grids) {
@each $grid, $color in $grids {
    .grid__col--#{$grid}.theme__colors {
      background-color:$color;
    }
  }
};
/// mixinh button????????
.btn {
@each $button, $color in $buttons {
   &--#{$button} {
        background-color:$color;
         @extend %btn-style;
   }
 }
}
//mxin flex
@mixin flexy($disp:flex,
     $dir:null,
     $just:null,
     $align:null){
 display: $disp ;
 flex-direction:$dir ;
 justify-content: $just;
 align-items:  $align   ;

}





 .grid__row {
//   @include flexy($disp:null,
//       $dir:null
//       $just:null,
//       $align:null;
       padding-top: 30px;
       color:$font-color;
  }

//gri variable
$grids: (
   12: lighten($green-highlight, 10%) ,
    6: darken($blue-highlight, 30%),
    4: lighten($blue-highlight, 5%),
    3: lighten($purple, 10%),
    5: lighten($green, 10%),
    7: lighten($red, 10%),
    8: lighten($orange, 10%),
    );


//grid mixing
@each $grid, $color in $grids {
  .grid__col--#{$grid}.theme__colors {
    background-color:$color;
  }
}
 .grid__col--3,
 .grid__col--9,{
   // text-align: center;
 }

 .grid__col--12,

 {
     width: 100%;
}

//media------------------------------------

// @mixin mq($break){
//   @if $break == 'sm'{
//     @media (min-width: $break-s){
//       @content
//
//     }
//
//     @else if $break == 'ms'{
//      @media (min-width: $break-m){
//       @content
//       }
//   }
//     @else if $break == 'lg'{
//      @media (min-width: $break-l){
//       @content
//       }
//     }
// }
// @mixin flexy($disp:flex,
//      $dir:null,
//      $just:null,
//      $align:null){
//  display: $disp ;
//  flex-direction:$dir ;
//  justify-content: $just;
//  align-items:  $align   ;
//
// }


@media (min-width: $break-l) {

  .nav__item a{
    padding: 10px 5px;
    margin: 20px;
  }

   .grid__row,
   .nav,
   .grid__col--12,
   {
     display:flex;
     flex-direction: row;
     text-align: center;
}
 .grid__col--12{
      justify-content: space-around;
      width: 100%;
 }
.grid__row{
      justify-content: space-around;
}
 .grid__col--8 {
     flex: 1 80%;
 }
  .grid__col--4 {
    padding-left: 40px;
  }
}
