/* Variable ---------------------*/



// COLORS*****************************

// Font S
$font-google             :'https://fonts.googleapis.com/css?family=Quicksand:300,400';
$font-family             :'Quicksand', sans-serif;
$font-size               :20px;
$font-color              :#7F7E7E;

// Descriptive color variables

$green-highlight : #28DCB8;
$blue-highlight  : #51DDFC;

// Button
///variabaless butoon


$green  :#63CC82;
$red    :#E4757A;
$orange :#FD7856;
$purple :#927BC1;

$buttons: (
    default: $blue-highlight,
    success: $green,
    error  : $red,
    warning: $orange,
    info   : $purple,
);

//Grid

$fade-green     : lighten($green-highlight, 10%);
$dark-blue      : darken($blue-highlight, 30%);
$fade-blue      : lighten($blue-highlight, 5%);
$fade-purple    : lighten($purple, 10%);
$fade-red       : lighten($red, 10%);
$fade-orange    : lighten($orange, 20%);
$fade-dark-green:ligthen($green, 10%);


$grids: (
   12: lighten($green-highlight, 10%) ,
    6: darken($blue-highlight, 30%),
    4: lighten($blue-highlight, 5%),
    3: lighten($purple, 10%),
    5: lighten($green, 10%),
    7: lighten($red, 10%),
    8: lighten($orange, 10%),
    );

//Media query
$brkpoint-lg: 1024px;
$brkpoint-sm: 440px;
$brkpoint-sm: 768px;










@mixin flexy($disp:flex,
     $dir:null,
     $just:null,
     $align:null){
 display: $disp ;
 flex-direction:$dir ;
 justify-content: $just;
 align-items:  $align ;

}



//mixn imag
@mixin img {
  margin-left: auto;
  margin-right: auto;

}

//mixin padding width
@mixin width {
  padding: 10px;
  width: 100%;

}




// buton--------------------------------------



//mixing grid
@mixin color-grd ($grids) {
@each $grid, $color in $grids {
    .grid__col--#{$grid}.theme__colors {
      background-color:$color;
    }
  }
};
/// mixinh button

//mxin flex
@mixin flexy($disp:flex,
     $dir:null,
     $just:null,
     $align:null){
 display: $disp ;
 flex-direction:$dir ;
 justify-content: $just;
 align-items:  $align   ;

}

//grid mixing
@each $grid, $color in $grids {
  .grid__col--#{$grid}.theme__colors {
    background-color:$color;
  }
}

/////////////////////

@media (min-width:$brkpoint-lg) {

  .nav__item a{
    padding: 10px 5px;
    margin: 20px;
  }

   .grid__row,
   .nav,
   .grid__col--12,
   {
     display:flex;
     flex-direction: row;
     text-align: center;
}
 .grid__col--12{
      justify-content: space-around;
      width: 100%;
 }
.grid__row{
      justify-content: space-around;
}
 .grid__col--8 {
     flex: 1 80%;
 }
  .grid__col--4 {
    padding-left: 40px;
  }
}


//
// @mixin mq($break) {
//   @mixin mq($break) {
//     @if $break == "small" {
//       @media (min-width: $brkpoint-sm) and (max-width: $brkpoint-md) {
//         @content;
//       }
//     }
//     @else if $break == "medium" {
//       @media (min-width: $brkpoint-md + 1) {
//         @content;
//       }
//     }
//     @else if $break == "large" {
//       @media (min-width: $brkpoint-lg) {
//         @content;
//       }
//     }
//      @else {
//      	@error "NO value '#{$break}'.";
//     }
//   }
//
// }
