.img{
    &--frame {
      padding: 10px;
      border: solid 1px grey;
      display: block;
      @include img;
      max-width: 100%;
  }
    &--avatar {
      margin:20px;

      display: block;
       @include img;
  }
    &--logo {
      display: block;
       @include img;

   }
}
