/* base ---------------------*/




* {

    box-sizing: border-box;
}

//Base-----------------------------

body{
    font-family: $font-family;
}

p {
     line-height: 1.6;
     display: block;
}

ul{
  list-style-type: none;
}
